@charset "UTF-8";
.navbar-brand:hover{
	color: red !important;
}

.prag{
	font-size: 28px
}

.container,.content{
	padding-top: 2%;
}

.btn-dark{
	color: white !important;
}

.title{
	font-size: 32px; color: red;
}