<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">

<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Latest compiled JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
		<a class="navbar-brand" href="/eregistrar/home">Home</a> 
		<a class="navbar-brand" href="/eregistrar/students">Students</a> 
		<a class="navbar-brand" href="/eregistrar/addStudent">Add Student</a>
	</nav>

	<div style="text-align: center; padding: 2%">
		<div style="">
		<img th:src="@{/images/home.jpg}"/><br/><br/>
			<h2>Students eRegister System</h2>
			<p class="prag">the system enables Students to register their data
			
			</p>
		</div>
	</div>


	

	
</body>
</html>