<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
		<!-- 	<a class="navbar-brand" style="color: white;">welcome in the eRegister system</a> -->
		<a class="navbar-brand" href="/eregistrar/home">Home</a> <a
			class="navbar-brand" href="/eregistrar/students">Students</a> <a
			class="navbar-brand" href="/eregistrar/addStudent">Add Student</a>
	</nav>


	<div class="container">

		<div>
			<span class="title">Students</span> <span style="float: right;">
				<a class="btn btn-outline-dark btn-lg" href="/eregistrar/addStudent">Add
					New Student</a>
			</span>
		</div>

		<div class="content">
			<form action="/registrar/search" method="get">
				<div class="active-cyan-3 active-cyan-4 mb-4"
					style="max-width: 50%;">
					<input class="form-control" type="text" placeholder="Search"
						th:name="keyword" aria-label="Search">
				</div>
			</form>


			<table id="dt-material-checkbox" class="table table-striped"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th class="th-sm">Student Number</th>
						<th class="th-sm">First Name</th>
						<th class="th-sm">Middle Name</th>
						<th class="th-sm">Last Name</th>
						<th class="th-sm">cgpa</th>
						<th class="th-sm">Enrollment Date</th>
						<th class="th-sm">International</th>
						<th class="th-sm"></th>
						<th class="th-sm"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student,iterstat :${students}">
						<td></td>
						<td th:text="${student.studentNumber}"></td>
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.middleName}"></td>
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.cgpa}"></td>
						<td th:text="${student.enrollmentDate}"></td>
						<td th:text="${student.isInternational}"></td>
						<td><a
							th:href="@{'/eregistrar/editStudent/'+${student.studentId}}">Edit</a></td>
						<td><a data-toggle="modal"
							data-target="#confirmDeleteModal"
							th:href="@{'/eregistrar/deleteStudent/' + ${student.studentId}}">Delete</a>
						</td>
					</tr>


				</tbody>

			</table>

			<div>
				<ul class="pagination">
					<li class="page-item disabled"><a class="page-link">Pages:
					</a></li>
					<li th:each="i : ${#numbers.sequence(1, students.totalPages)}"
						th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">
						<a th:href="@{/eregistrar/students(pageNo=${i-1})}" th:text="${i}"
						class="page-link"></a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	
	<div class="modal fade" id="confirmDeleteModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Confirm
						Delete</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Are you sure you wish to delete this
					book data?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary">Yes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>